agate==1.9.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
alembic==1.18.0
altair==4.2.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
apache-airflow==2.9.1
apache-airflow-providers-common-compat==1.6.1
apache-airflow-providers-common-io==1.5.4
apache-airflow-providers-common-sql==1.26.0
apache-airflow-providers-fab==1.5.3
apache-airflow-providers-ftp==3.12.3
apache-airflow-providers-http==5.2.2
apache-airflow-providers-imap==3.8.3
apache-airflow-providers-postgres==6.1.3
apache-airflow-providers-smtp==2.0.3
apache-airflow-providers-sqlite==4.0.2
apache-airflow-providers-trino==6.1.2
apispec==6.9.0
argcomplete==3.6.3
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
asgiref==3.11.0
asttokens==3.0.1
asyncpg==0.31.0
attrs==25.4.0
babel==2.17.0
beautifulsoup4==4.14.3
blinker==1.9.0
cachelib==0.13.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
clickclick==20.10.2
colorama==0.4.6
colorlog==4.8.0
comm==0.2.3
ConfigUpdater==3.2
connexion==2.14.2
cron_descriptor==2.0.6
croniter==6.0.0
cryptography==46.0.3
daff==1.4.2
dbt-adapters==1.16.7
dbt-common==1.33.0
dbt-core==1.10.15
dbt-extractor==0.6.0
dbt-postgres==1.9.1
dbt-protos==1.0.418
dbt-semantic-interfaces==0.9.0
dbt-trino==1.9.3
debugpy==1.8.19
decorator==5.2.1
deepdiff==8.6.1
Deprecated==1.3.1
dill==0.4.0
discord.py==2.6.4
dnspython==2.8.0
email-validator==2.3.0
entrypoints==0.4
executing==2.2.1
fastapi==0.128.0
Flask==2.2.5
Flask-AppBuilder==4.5.3
Flask-Babel==2.0.0
Flask-Caching==2.3.1
Flask-JWT-Extended==4.7.1
Flask-Limiter==3.12
Flask-Login==0.6.3
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.2
frozenlist==1.8.0
fsspec==2026.1.0
google-re2==1.1.20251105
googleapis-common-protos==1.72.0
great_expectations==1.11.0
greenlet==3.3.0
grpcio==1.76.0
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ImageIO==2.37.2
importlib_metadata==8.7.1
inflection==0.5.1
ipykernel==7.1.0
ipython==9.9.0
ipython_pygments_lexers==1.1.1
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.8.0
jupyter_core==5.9.1
lazy-object-proxy==1.12.0
lazy_loader==0.4
leather==0.4.1
limits==5.6.0
linkify-it-py==2.0.3
llvmlite==0.46.0
lockfile==0.12.2
lxml==6.0.2
lz4==4.4.5
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
marshmallow-oneofschema==3.2.0
marshmallow-sqlalchemy==0.28.2
mashumaro==3.14
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
methodtools==0.4.7
minio==7.2.20
mistune==3.2.0
more-itertools==10.8.0
msgpack==1.1.2
multidict==6.7.0
nest-asyncio==1.6.0
networkx==3.6.1
numba==0.63.1
numpy==1.26.4
opencv-python-headless==4.11.0.86
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
ordered-set==4.1.0
orderly-set==5.5.0
orjson==3.11.5
outcome==1.3.0.post0
packaging==25.0
pandas==2.1.4
parsedatetime==2.6
parso==0.8.5
pathlib_abc==0.5.2
pathspec==0.12.1
pendulum==3.1.0
pillow==10.2.0
platformdirs==4.5.1
pluggy==1.6.0
pooch==1.9.0
prison==0.2.1
prompt_toolkit==3.0.52
propcache==0.4.1
protobuf==6.33.4
psutil==7.2.1
psycopg2-binary==2.9.11
pure_eval==0.2.3
pycparser==2.23
pycryptodome==3.23.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
PyJWT==2.10.1
PyMatting==1.1.15
pyparsing==3.3.1
PySocks==1.7.1
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-nvd3==0.16.0
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
rembg==2.0.69
requests==2.32.5
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rich-argparse==1.7.2
rpds-py==0.30.0
ruamel.yaml==0.19.1
scikit-image==0.26.0
scipy==1.17.0
selenium==4.39.0
setproctitle==1.3.7
six==1.17.0
sniffio==1.3.1
snowplow-tracker==1.1.0
sortedcontainers==2.4.0
soupsieve==2.8.1
SQLAlchemy==1.4.54
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.42.1
sqlparse==0.5.5
stack-data==0.6.3
starlette==0.50.0
tabulate==0.9.0
tenacity==9.1.2
termcolor==3.3.0
text-unidecode==1.3
tifffile==2026.1.28
toolz==1.1.0
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
trino==0.336.0
trio==0.32.0
trio-websocket==0.12.2
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uc-micro-py==1.0.3
unicodecsv==0.14.1
universal_pathlib==0.3.8
urllib3==2.6.3
uvicorn==0.40.0
wcwidth==0.2.14
webdriver-manager==4.0.2
websocket-client==1.9.0
Werkzeug==2.2.3
wirerope==1.0.0
wrapt==2.0.1
wsproto==1.3.2
WTForms==3.2.1
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
onnxruntime==1.18.1
